/* Structure */

body {
    background-color: lightblue;
}

/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: blueviolet;
}

h1 {
    background-color: yellow;
    color:red;
}

h2{
    color:cornflowerblue;
}

